@model ChatMe.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Login</h2>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="email">Login:</label>
                <input type="text" class="form-control" name="Login">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name="Password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="RememberMe"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
</div>