<div class="container bootstrap snippet">
    <div ng-controller="DialogsListController as listCtrl" class="row">
		<div class="col-md-4 bg-white dialog-window">
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <li ng-repeat="dialog in listCtrl.dialogsService.dialogs"
                    ng-click="listCtrl.openDialog(dialog)" ng-class="{ active: dialog.selected }"
                    class=" bounceInDown">
                	<a href="#" class="clearfix">
                		<img src="{{dialog.avatarUrl}}" alt="" class="img-circle">
                		<div class="friend-name">
                			<strong>{{ dialog.author }}</strong>
                		</div>
                		<div class="last-message text-muted">{{ dialog.lastMessageSnippet }}</div>
                		<!--<small class="time text-muted">Just now</small>
                		<small class="chat-alert label label-danger">1</small>-->
                	</a>
                </li>
            </ul>
		</div>

        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-md-6">
            <div ng-if="!listCtrl.isDialogOpened()">
                lalka
            </div>
            <div ng-if="listCtrl.isDialogOpened()">
                <div ng-controller="MessagesListController as msgCtrl" class="chat-message">
                    <ul class="chat">
                        <li ng-repeat="msg in msgCtrl.messagesService.messages | reverse"
                            ng-class="msgCtrl.getMessageClass(msg)" class="clearfix">
                        	<span ng-class="msgCtrl.getAvatarClass(msg)" class="chat-img">
                        		<img src="{{msg.avatarUrl}}" alt="User Avatar">
                        	</span>
                        	<div class="chat-body clearfix">
                        		<div class="header">
                        			<strong class="primary-font">{{ msg.author }}</strong>
                        			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ msgCtrl.prettyTime(msg.time) }}</small>
                        		</div>
                        		<p>
                        			{{ msg.body }}
                        		</p>
                        	</div>
                        </li>
                    </ul>
                </div>
                <div ng-controller="NewMessageController as newCtrl" class="chat-box bg-white col-md-6">
                	<div class="input-group">
                		<input ng-model="newCtrl.body" class="form-control border no-shadow no-rounded"
                            placeholder="Type your message here">
                		<span class="input-group-btn">
                			<button ng-click="newCtrl.send()" ng-disabled="!newCtrl.isSendBtnActive()"
                                class="btn btn-success no-rounded" type="button">Send</button>
                		</span>
                	</div><!-- /input-group -->
                </div>
            </div>
		</div>
	</div>
</div>