<div class="row">
    <div class="col-xs-3">
        <div ng-controller="DialogsListController as listCtrl" class="dialogs-list">
            <div ng-repeat="dialog in listCtrl.dialogsService.dialogs">
                <div ng-click="appCtrl.openDialog(dialog)" class="panel">
                    <div>
                        {{ dialog.author }}
                    </div>
                    <div>
                        {{ dialog.lastMessageSnippet }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div ng-if="!appCtrl.isDialogOpened()" class="dialog-window">
            <div class="vertical-align">
                Select dialog
            </div>
        </div>

        <div ng-if="appCtrl.isDialogOpened()" class="dialog-window">
            <div  ng-controller="MessagesListController as msgCtrl"
                ng-init="msgCtrl.dialogId=appCtrl.openedDialogId" >
                <div ng-repeat="msg in msgCtrl.messagesService.messages">
                    <div>
                        {{ msg.body }}
                    </div>
                    <div>
                        {{ msg.author }}
                    </div>
                </div>
            </div>
            <div ng-controller="NewMessageController as newCtrl">
                <textarea ng-model="newCtrl.body" rows="5"></textarea>

                <button ng-click="newCtrl.send()" ng-disabled="!newCtrl.isSendBtnActive"
                    class="btn btn-default">Send</button>
            </div>
        </div>
    </div>
</div>