html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
}

.my-avatar-preview {
    width: 25px;
    height: 25px;
}

.profile-menu {
    right: 0;
}

.post-avatar-preview {
    width: 40px;
    height: 40px;
}

.new-post {
    margin-bottom: 10px;
}