@* Dialog id that must be opened *@
@model ChatMe.Web.Models.DialogInitViewModel

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Users/_Layout.cshtml";
}

@section Scripts {
    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/ms-signalr-client/jquery.signalR.js"></script>
    <script src="~/node_modules/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="~/node_modules/angular-signalr-hub/signalr-hub.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Client/dist/dialogsApp.js"></script>
    <script>
        angular.module("dialogsApp")
            .value("initInfo", {
                dialogId: '@Model.DialogId',
                userId: '@Model.UserId'
            });
    </script>
}

<div ng-app="dialogsApp">
    <app></app>
</div>