@model ChatMe.Web.Models.FollowingLinkViewModel

@using (Ajax.BeginForm("FollowAction", "Activities", new AjaxOptions { UpdateTargetId = "follow-button-form" })) {
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.IsFollowing)
    if (!Model.IsFollowing) {
        <button type="submit" class="btn btn-primary">
            Follow <span class="glyphicon glyphicon-eye-open"></span>
        </button>
    } else {
        <button type="submit" class="btn btn-danger">
            Unfollow <span class="glyphicon glyphicon-eye-close"></span>
        </button>
    }
}