@* Dialog id that must be opened *@
@model ChatMe.Web.Models.DialogInitViewModel

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/User/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/messages.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="~/Scripts/dialogs-app/app.module.js"></script>
    <script>
        angular.module("dialogsApp")
            .value("initInfo", {
                dialogId: '@Model.DialogId',
                userId: '@Model.UserId'
            });
    </script>   
    <script src="~/Scripts/signalr-hub.js"></script>
    <script src="~/Scripts/dialogs-app/dialogs-service/opened-dialog.service.js"></script>
    <script src="~/Scripts/dialogs-app/dialogs-service/dialogs.service.js"></script>
    <script src="~/Scripts/dialogs-app/dialogs-service/dialogs-api.service.js"></script>
    <script src="~/Scripts/dialogs-app/dialogs-list/dialogs-list.controller.js"></script>

    <script src="~/Scripts/dialogs-app/messages/messages-api.service.js"></script>
    <script src="~/Scripts/dialogs-app/messages/messages.service.js"></script>
    <script src="~/Scripts/dialogs-app/messages/reverse.filter.js"></script>
    <script src="~/Scripts/dialogs-app/app.directive.js"></script>
    <script src="~/Scripts/dialogs-app/messages/messages-list.controller.js"></script>
    <script src="~/Scripts/dialogs-app/messages/new-message.controller.js"></script>
    @*<script src="~/Scripts/dialogs-app/new-post/new-dialogs.controller.js"></script>*@
}

<div ng-app="dialogsApp">
    <app></app>
</div>